header {
  background-color: #daefd5;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  min-height: 120px;
  padding: 0 10px;
}
@media (max-width: 1400px) {
  header {
    flex-direction: column;
    justify-content: space-around;
    padding-bottom: 10px;
    padding-top: 20px;
  }
  nav {
    margin-top: 20px;
  }
}

.logo {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
}

@media screen and (max-width: 500px) {
  .logo {
    flex-direction: column;
  }
  .logo h1 {
    margin-top: 20px;
  }
}

.logo h1 {
  margin-left: 10px;
  font-size: 36px;
  color: #04aa6d;
}
.dropbtn {
  /* background-color: #04aa6d; */
  color: #04aa6d;
  padding: 12px;
  font-size: 24px;
  border: none;
  /* margin: 0 6px; */
  cursor: pointer;
  border-right: 2px solid #04aa6d;
}

#last_nav_element {
  border-right: none;
}

.dropdown {
  position: relative;
  display: inline-block;
  min-height: 50px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #daefd5;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  opacity: 0;
}

.dropdown-content a {
  color: #04aa6d;
  padding: 16px 16px;
  text-decoration: none;
  display: block;
  transition: background-color 300ms ease;
}

.dropdown-content a:hover {
  color: #025536;

  background-color: #abdabd;
}

.dropdown:hover .dropdown-content {
  display: block;
  opacity: 1;
  transition: opacity 300ms ease, display 300ms ease;
}

.dropdown:hover .dropbtn {
  color: #025536;
}

nav {
  float: right;
}
nav a {
  text-decoration: none;
}

body {
  background-color: #f2f2f2;
}

main {
  max-width: 1500px;
  margin: 20px auto;
  margin-bottom: 60px;
  font-size: 18px;
  line-height: 1.3em;
}

footer {
  width: 100%;
  min-height: 30px;
  background-color: #daefd5;
  padding-top: 20px;
  padding-bottom: 10px;
  text-align: center;
  position: fixed;
  bottom: 0px;
}

footer p {
  font-size: 20px;
  color: #04aa6d;
}

.landing_dishes {
  display: grid;
  grid-template-columns: 45% 45%;
  justify-content: center;
}

.landing_dish_parent {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 350px;
  margin: 20px 20px;
}

.landing_dish {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 98%;
  height: 98%;
  border-radius: 20px;
  font-size: 86px;
  text-shadow: 5px 2px 1px white;
  cursor: pointer;
  transition-property: width, height;
  transition-duration: 200ms;
  text-decoration: none;
  color: inherit;
  background-size: cover;
  background-position: center;
}
.landing_dish:hover {
  height: 100%;
  width: 100%;
}

@media screen and (max-width: 1200px) {
  .landing_dishes {
    grid-template-columns: 100%;
  }
  .landing_dish_parent {
    height: 200px;
  }
  .landing_dish {
    height: 98%;
  }

  .landing_dish:hover {
    height: 100%;
    width: 100%;
    width: 100%;
  }
}

@media screen and (max-width: 500px) {
  .landing_dish {
    font-size: 56px;
  }
}

#landing_breakfast {
  background-image: url("pictures/breakfast.jpg");
}

#landing_lunch {
  background-image: url("pictures/lunch.jpg");
}

#landing_dinner {
  background-image: url("pictures/dinner.jpg");
}

#landing_sides {
  background-image: url("pictures/pasta.jpg");
}

#landing_desserts {
  background-image: url("pictures/ice.jpg");
}

#landing_snacks {
  background-image: url("pictures/chips.jpg");
}

.recipe_item {
  border: 4px solid black;
  border-radius: 20px;
  padding: 20px;
  margin-bottom: 20px;
  height: auto;
  overflow: auto;
}
.recipe img {
  width: 400px;
  float: left;
  padding-right: 20px;
  padding-bottom: 10px;
}

.recipe_head h2 {
  margin-bottom: 10px;
}

.recipe_head h3 {
  clear: both;
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 10px;
}

.recipe_title {
  font-size: 32px;
}
.recipe h3 {
  font-size: 24px;
  margin-bottom: 15px;
}

.recipe_details {
  margin-top: 20px;
  clear: both;
  display: flex;
  transition: opacity 1s ease;
  opacity: 0;
  height: 0;
  overflow: hidden;
}

.recipe_ingredients .recipe_table {
  margin-left: 20px;
}

.recipe_ingredients table {
  box-sizing: border-box;
  background-color: white;
  width: 100%;
}

.recipe_ingredients td,
th {
  height: 50px;
  vertical-align: middle;
  text-align: start;
  padding-left: 10px;
  padding-right: 10px;
}

.recipe_ingredients th {
  border-bottom: 1px solid black;
  text-align: center center;
}

.recipe_ingredients h4 {
  font-size: 20px;
}

.recipe_ingredients tr:nth-child(2n + 1) {
  background-color: #b2b2b2;
}

.recipe_ingredients th {
  background-color: white;
}

.recipe_instruction {
  margin-right: 20px;
}

.recipe_instruction ul {
  margin-left: 10px;
}

.recipe_step {
  padding: 10px;
  border-left: 2px solid white;
  margin: 10px;
  background-color: #eee;
  border-radius: 5px;
}

.displayDetailsButton {
  background-color: #348d9a;
  padding: 5px;
  margin-top: 20px;
  color: white;
  font-size: 24px;
  float: right;
  bottom: 0;
}

.recipe_step_title {
  background-color: #348d9a;
  pointer-events: none;
  padding: 5px;
  color: white;
}

.recipe_description {
  background-color: #eee;
  padding: 10px;
  border-radius: 5px;
}

@media screen and (max-width: 740px) {
  .recipe_details {
    flex-direction: column-reverse;
  }

  .recipe_instruction {
    margin-right: 0;
  }

  .recipe_instruction {
    margin-top: 20px;
  }

  .recipe_head h2 {
    display: block;
  }

  .recipe img {
    width: 100%;
    float: left;
    padding-right: 20px;
    padding-bottom: 20px;
  }
}

.space_right {
  display: inline;
  margin-right: 10px;
}
