header {
  background-color: #daefd5;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  min-height: 120px;
  padding: 0 10px;
}
@media (max-width: 1400px) {
  header {
    flex-direction: column;
  }
  nav {
    margin-top: 20px;
  }
}

.logo {
  display: inline-flex;
  align-items: center;
}

.logo h1 {
  margin-left: 10px;
  font-size: 36px;
  color: #04aa6d;
}
.dropbtn {
  /* background-color: #04aa6d; */
  color: #04aa6d;
  padding: 12px;
  font-size: 24px;
  border: none;
  /* margin: 0 6px; */
  cursor: pointer;
  border-right: 2px solid #04aa6d;
}

#last_nav_element {
  border-right: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #daefd5;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: #04aa6d;
  padding: 16px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  color: #025536;

  background-color: #abdabd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  color: #025536;
}

nav {
  float: right;
}

body {
  background-color: #f2f2f2;
}

main {
  max-width: 1500px;
  margin: 20px auto;
  margin-bottom: 60px;
}

footer {
  width: 100%;
  min-height: 30px;
  background-color: #daefd5;
  padding-top: 20px;
  text-align: center;
  position: fixed;
  bottom: 0px;
}

footer p {
  font-size: 20px;
  color: #04aa6d;
}

.landing_dishes {
  display: grid;
  grid-template-columns: 45% 45%;
  justify-content: center;
}

.landing_dish_parent {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 350px;
  margin: 20px 20px;
}

.landing_dish {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 98%;
  height: 98%;
  border-radius: 20px;
  font-size: 86px;
  text-shadow: 5px 2px 1px white;
  cursor: pointer;
  transition-property: width, height;
  transition-duration: 200ms;
  text-decoration: none;
  color: inherit;
  background-size: cover;
  background-position: center;
}
.landing_dish:hover {
  height: 100%;
  width: 100%;
}

@media screen and (max-width: 1200px) {
  .landing_dishes {
    grid-template-columns: 100%;
  }
  .landing_dish_parent {
    height: 200px;
  }
  .landing_dish {
    height: 98%;
  }

  .landing_dish:hover {
    height: 100%;
    width: 100%;
    width: 100%;
  }
}

@media screen and (max-width: 500px) {
  .landing_dish {
    font-size: 56px;
  }
}

#landing_breakfast {
  background-image: url("pictures/breakfast.jpg");
}

#landing_lunch {
  background-image: url("pictures/lunch.jpg");
}

#landing_dinner {
  background-image: url("pictures/dinner.jpg");
}

#landing_sides {
  background-image: url("pictures/pasta.jpg");
}

#landing_desserts {
  background-image: url("pictures/ice.jpg");
}

#landing_snacks {
  background-image: url("pictures/chips.jpg");
}
